<form action="/answer" method="GET">
  <p>Ask your coach anything:</p>
  <div>
    <input class="input" type="text" name="question" placeholder="Type your question">
    <input class="button" type="submit" value="Ask!">
  </div>
</form>
